{% extends "main.html" %}
{% block content %}

<!-- START SLIDER -->
<div class="container">
    <div class="swiper mySwiper padd">
        <div class="swiper-wrapper">
            <div class="swiper-slide b" style="background-image: url(../static/image/descount.jpg);">
                <div class="container ">
                    <div class="overlay">
                        <div class="des_write">
                            <h1>تخفيضات تصل الى %50</h1>
                            <ul>
                                <li class="shop"><a href="#"> تسوق الان</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide b" style="background-image: url(../static/image/school.jpg);">
                <div class="container">
                    <div class="overlay">
                        <div class="sch_write">
                            <h1>قرطاسيات وادوات مدرسية</h1>
                            <ul>
                                <li class="shop_1"><a href="#"> تسوق الان</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide b" style="background-image: url(../static/image/busness.jpg);">
                <div class="container">
                    <div class="overlay">
                        <div class="sch_write">
                            <h1> كتب لتطوير العمل</h1>
                            <ul>
                                <li class="shop_2"><a href="#"> تسوق الان</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>

<div class="container silder_marg">
    <div class="sliders_parent silder_marg">
        <div class="sliders_child">
            <h1 class="title ">الكتب الاكثر مبيعاً</h1>
        </div>
    </div>
    <!-- Slider main container -->
    <div class="swiper mySwiper_release">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide sliders product">
                <h4 class="silders_des">It is end with us</h4>
                <hr>
                <img src="..//static/books/best/1.jpg" alt="">
                <h4 class="silders_price">10<span>IQD</span></h4>
                <div class="hover">
                    <h4 class="bag">10<span>IQD</span></h4>
                    <h6 class="bag addToCart" data-product-id="1">أضف الى العربة</h6>
                </div>
            </div>
            <div class="swiper-slide sliders product">
                <h4 class="silders_des">مطبخ منال العالم</h4>
                <hr>
                <img src="..//static/books/best/10.jpg" alt="">
                <h4 class="silders_price" >10<span>IQD</span></h4>
                <div class="hover">
                    <h4 class="bag">10<span>IQD</span></h4>
                    <h6 class="bag addToCart" data-product-id="2">أضف الى العربة</h6>
                </div>
            </div>
            <div class="swiper-slide sliders product">
                <h4 class="silders_des">ماذا ترسم؟</h4>
                <hr>
                <img src="..//static/books/best/11.jpg" alt="">
                <h4 class="silders_price">10<span>IQD</span></h4>
                <div class="hover">
                    <h4 class="bag">10<span>IQD</span></h4>
                    <h6 class="bag addToCart" data-product-id="3">أضف الى العربة</h6>
                </div>
            </div>
            <div class="swiper-slide sliders product">
                <h4 class="silders_des">Take your breath away</h4>
                <hr>
                <img src="..//static/books/best/2.jpg" alt="">
                <h4 class="silders_price">10<span>IQD</span></h4>
                <div class="hover">
                    <h4 class="bag">10<span>IQD</span></h4>
                    <h6 class="bag addToCart" data-product-id="4">أضف الى العربة</h6>
                </div>
            </div>
            <div class="swiper-slide sliders product">
                <h4 class="silders_des">The Maid</h4>
                <hr>
                <img src="..//static/books/best/3.jpg" alt="">
                <h4 class="silders_price">10<span>IQD</span></h4>
                <div class="hover">
                    <h4 class="bag">10<span>IQD</span></h4>
                    <h6 class="bag addToCart" data-product-id="5">أضف الى العربة</h6>
                </div>
            </div>
            <div class="swiper-slide sliders product">
                <h4 class="silders_des">أنثى افتراضية</h4>
                <hr>
                <img src="..//static/books/best/12.jpg" alt="">
                <h4 class="silders_price">10<span>IQD</span></h4>
                <div class="hover">
                    <h4 class="bag">10<span>IQD</span></h4>
                    <h6 class="bag addToCart" data-product-id="6">أضف الى العربة</h6>
                </div>
            </div>
            <div class="swiper-slide sliders product">
                <h4 class="silders_des">Ugly Love</h4>
                <hr>
                <img src="..//static/books/best/6.jpg" alt="">
                <h4 class="silders_price">10<span>IQD</span></h4>
                <div class="hover">
                    <h4 class="bag">10<span>IQD</span></h4>
                    <h6 class="bag addToCart" data-product-id="7">أضف الى العربة</h6>
                </div>
            </div>
            <div class="swiper-slide sliders product">
                <h4 class="silders_des">أنستا حياة</h4>
                <hr>
                <img src="..//static/books/best/13.jpg" alt="">
                <h4 class="silders_price">10<span>IQD</span></h4>
                <div class="hover">
                    <h4 class="bag">10<span>IQD</span></h4>
                    <h6 class="bag addToCart" data-product-id="8">أضف الى العربة</h6>
                </div>
            </div>
            <div class="swiper-slide sliders product">
                <h4 class="silders_des">Remember My Name</h4>
                <hr>
                <img src="..//static/books/best/7.jpg" alt="">
                <h4 class="silders_price">10<span>IQD</span></h4>
                <div class="hover">
                    <h4 class="bag">10<span>IQD</span></h4>
                    <h6 class="bag addToCart" data-product-id="9">أضف الى العربة</h6>
                </div>
            </div>
            <div class="swiper-slide sliders product">
                <h4 class="silders_des">أوربا تاريخ وجيز</h4>
                <hr>
                <img src="..//static/books/best/14.jpg" alt="">
                <h4 class="silders_price">10<span>IQD</span></h4>
                <div class="hover">
                    <h4 class="bag">10<span>IQD</span></h4>
                    <h6 class="bag addToCart" data-product-id="10">أضف الى العربة</h6>
                </div>
            </div>
            <div class="swiper-slide sliders product">
                <h4 class="silders_des">في عالم اخر</h4>
                <hr>
                <img src="..//static/books/best/16.jpg" alt="">
                <h4 class="silders_price">10<span>IQD</span></h4>
                <div class="hover">
                    <h4 class="bag">10<span>IQD</span></h4>
                    <h6 class="bag addToCart" data-product-id="11">أضف الى العربة</h6>
                </div>
            </div>
            <div class="swiper-slide sliders product">
                <h4 class="silders_des">Hamlet</h4>
                <hr>
                <img src="..//static/books/best/15.jpg" alt="">
                <h4 class="silders_price">10<span>IQD</span></h4>
                <div class="hover">
                    <h4 class="bag">10<span>IQD</span></h4>
                    <h6 class="bag addToCart" data-product-id="12">أضف الى العربة</h6>
                </div>
            </div>

        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
    </div>

</div>

<div class="container padd">
    <!-- Slider main container -->
    <div class="swiper mySwiper_release">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide sliders">
                <h4 class="silders_des">It is end with us</h4>
                <hr>
                <img src="..//static/books/best/1.jpg" alt="">
                <h4 class="silders_price">10<span>IQD</span></h4>
                <div class="hover">
                    <h4 class="bag">10<span>IQD</span></h4>
                    <h6 class="bag">أضف الى العربة</h6>
                </div>
            </div>
            <div class="swiper-slide sliders">
                <h4 class="silders_des">مطبخ منال العالم</h4>
                <hr>
                <img src="..//static/books/best/10.jpg" alt="">
                <h4 class="silders_price">10<span>IQD</span></h4>
                <div class="hover">
                    <h4 class="bag">10<span>IQD</span></h4>
                    <h6 class="bag">أضف الى العربة</h6>
                </div>
            </div>
            <div class="swiper-slide sliders">
                <h4 class="silders_des">ماذا ترسم؟</h4>
                <hr>
                <img src="..//static/books/best/11.jpg" alt="">
                <h4 class="silders_price">10<span>IQD</span></h4>
                <div class="hover">
                    <h4 class="bag">10<span>IQD</span></h4>
                    <h6 class="bag">أضف الى العربة</h6>
                </div>
            </div>
            <div class="swiper-slide sliders">
                <h4 class="silders_des">Take your breath away</h4>
                <hr>
                <img src="..//static/books/best/2.jpg" alt="">
                <h4 class="silders_price">10<span>IQD</span></h4>
                <div class="hover">
                    <h4 class="bag">10<span>IQD</span></h4>
                    <h6 class="bag">أضف الى العربة</h6>
                </div>
            </div>
            <div class="swiper-slide sliders">
                <h4 class="silders_des">The Maid</h4>
                <hr>
                <img src="..//static/books/best/3.jpg" alt="">
                <h4 class="silders_price">10<span>IQD</span></h4>
                <div class="hover">
                    <h4 class="bag">10<span>IQD</span></h4>
                    <h6 class="bag">أضف الى العربة</h6>
                </div>
            </div>
            <div class="swiper-slide sliders">
                <h4 class="silders_des">أنثى افتراضية</h4>
                <hr>
                <img src="..//static/books/best/12.jpg" alt="">
                <h4 class="silders_price">10<span>IQD</span></h4>
                <div class="hover">
                    <h4 class="bag">10<span>IQD</span></h4>
                    <h6 class="bag">أضف الى العربة</h6>
                </div>
            </div>
            <div class="swiper-slide sliders">
                <h4 class="silders_des">Ugly Love</h4>
                <hr>
                <img src="..//static/books/best/6.jpg" alt="">
                <h4 class="silders_price">10<span>IQD</span></h4>
                <div class="hover">
                    <h4 class="bag">10<span>IQD</span></h4>
                    <h6 class="bag">أضف الى العربة</h6>
                </div>
            </div>
            <div class="swiper-slide sliders">
                <h4 class="silders_des">أنستا حياة</h4>
                <hr>
                <img src="..//static/books/best/13.jpg" alt="">
                <h4 class="silders_price">10<span>IQD</span></h4>
                <div class="hover">
                    <h4 class="bag">10<span>IQD</span></h4>
                    <h6 class="bag">أضف الى العربة</h6>
                </div>
            </div>
            <div class="swiper-slide sliders">
                <h4 class="silders_des">Remember My Name</h4>
                <hr>
                <img src="..//static/books/best/7.jpg" alt="">
                <h4 class="silders_price">10<span>IQD</span></h4>
                <div class="hover">
                    <h4 class="bag">10<span>IQD</span></h4>
                    <h6 class="bag">أضف الى العربة</h6>
                </div>
            </div>
            <div class="swiper-slide sliders">
                <h4 class="silders_des">أوربا تاريخ وجيز</h4>
                <hr>
                <img src="..//static/books/best/14.jpg" alt="">
                <h4 class="silders_price">10<span>IQD</span></h4>
                <div class="hover">
                    <h4 class="bag">10<span>IQD</span></h4>
                    <h6 class="bag">أضف الى العربة</h6>
                </div>
            </div>
            <div class="swiper-slide sliders">
                <h4 class="silders_des">في عالم اخر</h4>
                <hr>
                <img src="..//static/books/best/16.jpg" alt="">
                <h4 class="silders_price">10<span>IQD</span></h4>
                <div class="hover">
                    <h4 class="bag">10<span>IQD</span></h4>
                    <h6 class="bag">أضف الى العربة</h6>
                </div>
            </div>
            <div class="swiper-slide sliders">
                <h4 class="silders_des">Hamlet</h4>
                <hr>
                <img src="..//static/books/best/15.jpg" alt="">
                <h4 class="silders_price">10<span>IQD</span></h4>
                <div class="hover">
                    <h4 class="bag">10<span>IQD</span></h4>
                    <h6 class="bag">أضف الى العربة</h6>
                </div>
            </div>

        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
    </div>

</div>
<div class="layout padd">
    <div class="overlay_2">
        <div class="container">
            <div class="img_layout">
                <div class="write_layout">
                    <P>
                        BOOK <span>S</span>TATION is Iraqi best value chain of Book and Stationery shops
                    </P>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="container padd">
    <div class="grid">
        <div class="img_area">
            <div class="img_offer">
                <div class="overlay_3">
                    <div class="write_offer">
                    <p>اخر اصدارات الكتب وصلت حديثاً</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="img_area_2">
            <div class="img_offer_2">
                <div class="overlay_3">
                    <div class="write_offer">
                    <p>احصل على كتاب مجاناً عند شراء كتابين من نفس الصفحة</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="img_area_3">
            <div class="img_offer_3">
                <div class="overlay_3">
                    <div class="write_offer">
                       <p>توصيل مجاني لمجموعة من الكتب العربية والانجليزية</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="img_area_4">
            <div class="img_offer_4">
                <div class="overlay_3">
                    <div class="write_offer">
                        <p>كتب للاطفال</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock content %}

