<!DOCTYPE html>
<html dir="rtl" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>BOOK STATION - {{ title }}</title>
    {% else %}
    <title>BOOK STATION</title>
    {% endif %}
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="icon" href="../static/image/logo.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>

</head>

<body>

    <header>
        <!-- START NAVBAR -->
        <nav>
            <div class="container">
                <div class="nav_parent">
                    <div class="nav_right">
                        {% if current_user.is_authenticated %}
                        <ul class="right">
                            <li class="bag"><i class="fas fa fa-shopping-bag fa-lg shoppingCartButton"></i><span
                                        class="number0fcarts"></span></i></li>
                            <li class="sign_in"><a href="{{ url_for('logout') }}">تسجيل خروج</a></li>
                        </ul>
                        {% else %}
                        <ul class="right">
                            <li class="sign_in"><a href="/regist"> انشاء حساب</a></li>
                            <li class="sign_in sin"><a href="/login">تسجيل دخول</a></li>
                        </ul>
                        {% endif %}
                    </div>

                    <div class="nav_center">
                        <div class="center">

                            <div class="search_drop">
                                <input type="text" class="input" placeholder="البحث">
                                <i class="fas fa fa-search fa-lg"></i>
                            </div>
                        </div>
                    </div>


                    <div class="nav_left">
                        <ul class="left">
                            <li>
                                <h3>BOOK</h3>
                            </li>
                            <li>
                                <h3><span>S</span>TATION</h3>
                            </li>
                        </ul>
                        <img src="../static/image/logo.png" alt="Logo">
                    </div>
                </div>

                <div class="nav_content">
                    <ul class="nav_content_main">
                        <li><a href="/home">الرئيسية</a></li>
                        <li class="default_option">
                            <a href="/english_book">
                                الكتب الانجيلزية
                                <i class="fas fa fa-caret-down"></i>
                            </a>
                            <div class="drop_down w">
                                <ul class="listed">
                                    <li><a href="#">Architecture</a> </li>
                                    <li><a href="#">Antiques & Collectibles</a></li>
                                    <li><a href="#">Art</a></li>
                                    <li><a href="#">Graphic Novels and comics</a></li>
                                    <li><a href="#">Juvenile Fiction</a></li>
                                    <li><a href="#">Computers</a></li>
                                    <li><a href="#">Self-Help</a></li>
                                    <li><a href="#">Design</a></li>
                                    <li><a href="#">Foreign Language Study</a></li>
                                    <li><a href="#">Fiction</a></li>
                                    <li><a href="#">Business & Economics</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="default_option">
                            <a href="/arabic_book">
                                الكتب العربية
                                <i class="fas fa fa-caret-down"></i>
                            </a>
                            <div class="drop_down">
                                <ul class="listed">
                                    <li class="a"><a href="#">الادب والخيال</a>
                                        <div class="left_down">
                                            <ul>
                                                <li><a href="#">الروايات</a></li>
                                                <li><a href="#">القصص</a></li>
                                                <li><a href="#">الاعمال الكاملة</a></li>
                                                <li><a href="#">المسرحيات</a></li>
                                                <li><a href="#">تأريخ الادب</a></li>
                                                <li><a href="#">الادب الاسلامي</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li><a href="#">التأريخ والجغرافية </a></li>
                                    <li><a href="#">القصص</a></li>
                                    <li><a href="#">الاسرة والطفل</a></li>
                                    <li><a href="#"> الكتب السياسية</a></li>
                                    <li><a href="#"> العلوم والطبيعة</a></li>
                                    <li><a href="#">الرياضة والتسلية</a></li>
                                    <li><a href="#">الاقتصاد والاعمال</a></li>
                                    <li><a href="#">الكتب الاسلامية</a></li>
                                    <li><a href="#">الفنون</a></li>
                                    <li><a href="#">الكومبيوتر والانترنت</a></li>
                                    <li><a href="#">الفلسفة</a></li>
                                    <li><a href="#">السير والمذكرات</a></li>
                                </ul>

                            </div>
                        </li>
                        <li><a href="preorder.html">المشتريات</a></li>
                        <li><a href="about.html">تواصل معنا</a></li>

                    </ul>

                </div>

            </div>
        </nav>

        <div class="shopping-cart">
            <div class="sum-prices">
                <div class="container">
                    <!--Shopping cart logo-->
                    
                    <!--The total prices of products in the shopping cart -->

                </div>
            </div>
        </div>

        <div class="producstOnCart hide">
            <div class="overlay_4"></div>
            <div class="top">
                <button id="closeButton">
                    <i class="fas_2 fa fa-times-circle"></i>
                </button>
                <h3>عربة التسوق</h3>
            </div>
            <ul id="buyItems">

                <h4 class="empty">عربة التسوق فارغة</h4>
                <!-- <li class="buyItem">
                                <img src="Images/producs-images/Mobiles/galaxynote10.png">
                                <div>
                                    <h5>Products Name</h5>
                                    <h6>$199</h6>
                                    <div>
                                        <button>-</button>
                                        <span class="countOfProduct">1</span>
                                        <button>+</button>
                                    </div>
                                </div>
                            </li> -->
            </ul>
            <h4 id="sum-prices"></h4>
            <button class="btn checkout hidden">اتمام عملية الشراء</button>
            
        </div>
        
        {% block content %} {% endblock %}
    </header>
    <footer>

        <div class="footer_bacg">
            <div class="container">
                <div class="footer_child">
                    <div class="grid_2">
                        <div class="write_about">
                            <p>BOOK <span class="name">S</span>TATION</p>
                            <p>
                                <span class="dec">
                                    اكبر متجر عربي في العراق، يحتوي على العديد من الكتب <br>العربية والانجليزية
                                    بمختلف
                                    الاقسام، كتابك لِبابك اينما كنت.
                                </span>
                            </p>
                            <button class="buttom">اطلب كتاب</button>
                        </div>

                        <div class="about">
                            <ul>
                                <li><a href="#">اتصل بنا</a></li>
                                <li><a href="#">طلباتي</a></li>
                                <li><a href="#">لديك استفسار؟ اتصل على07808844404</a></li>
                                <li><a href="#">تواصل معنا عبر المواقع:</a>
                                    <i class="net fa fa-facebook-square fa-lg"></i>
                                    <i class="net fa fa-instagram fa-lg"></i>

                                </li>
                                <li><a href="#">عن BOOK STATION</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </footer>

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="../static/main.js"></script>

</body>

</html>