{% extends "main.html" %}


{% block content %}

{% if books %}
<div class="container">
{% for book in books %}

<form method="GET">
    <div class="contnet-left">
        {% include "sidebar.html" %}
        <div class="cards">
            <div class="card">
                
                <img src="{{ book['image_file'] }}" alt="">
                <h3>{{ book['name_of_book'] }}</h3>
                <p class="price">{{ book['price'] }}</p>
                <p><button>اضافة الى العربة</button></p>
           
            </div>
    
        </div>
    </div>
    </form>
    {% endfor %}
</div>
{% else %}
<h1>djnbvckdbvkhdjsvcjkd</h1>
    {% endif %}
{% endblock content %}