<div class="container cards">
    <div class="nav">
       


        <div class="multi-level">
            <div class="item">
                <input type="checkbox" id="A" />
                <i class="arrow fa fa-caret-down fa-lg"></i><label for="B"></label><label for="A">الكتب
                    الانجليزية</label>
                
                <ul>
                    <li><a href="#">Architecture</a></li>
                    <li><a href="#">Antiques & Collectibles</a></li>
                    <li><a href="#">Art</a></li>
                    <li><a href="#">Graphic Novels and Comics</a></li>
                    <li><a href="#">Juvenile Fiction</a></li>
                    <li><a href="#">Computers</a></li>
                    <li><a href="#">Self-Help</a></li>
                    <li><a href="#">Design</a></li>
                    <li><a href="#">Foreign Language Study</a></li>
                    <li><a href="#">Fiction</a></li>
                    <li><a href="#">Business & Economics</a></li>

                </ul>
            </div>
            <div class="item">
                <input type="checkbox" id="B" />
                <i class="arrow fa fa-caret-down fa-lg"></i><label for="B">الكتب العربية</label>

                <ul>
                    <li>
                        <div class="sub-item">
                            <input type="checkbox" id="B-A" />
                            <i class="arrow fa fa-caret-down"></i><label for="B-A"><a href="/selected/novels"> الادب والخيال</a></label>

                            <ul>
                                <li><a href="#">الروايات </a></li>
                                <li><a href="#">القصص</a></li>
                                <li><a href="#">الاعمال الكاملة</a></li>
                                <li><a href="#">المسرحيات</a></li>
                                <li><a href="#">تأريخ الادب</a></li>
                                <li><a href="#">الادب الاسلامي</a></li>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <div class="sub-item">
                            <input type="checkbox" id="B-B" />
                            <i class="arrow fa fa-caret-down"></i><label for="B-B">التأريخ والجغرافية</label>

                            <ul>
                                <li><a href="#">الدراسات التأريخية </a></li>
                                <li><a href="#">الاستشراق</a></li>
                                <li><a href="#">الحضارات والمدن</a></li>
                                <li><a href="#">الدراسات الجغرافية</a></li>
                                <li><a href="#">الخرائط</a></li>
                                <li><a href="#">الاثار</a></li>
                                <li><a href="#">الاطالس</a></li>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <div class="sub-item">
                            <input type="checkbox" id="B-C" />
                            <i class="arrow fa fa-caret-down"></i><label for="B-C">الأسرة والطفل</label>

                            <ul>
                                <li><a href="#">الأطفال </a></li>
                                <li><a href="#">شؤون المرأة</a></li>
                                <li><a href="#">تربية الأطفال</a></li>
                                <li><a href="#">الدراسات الجغرافية</a></li>
                                <li><a href="#">العلاقات الزوجية</a></li>
                                <li><a href="#">الجمال</a></li>
                                <li><a href="#">الأزياء</a></li>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <div class="sub-item">
                            <input type="checkbox" id="B-D" />
                            <i class="arrow fa fa-caret-down"></i><label for="B-D">الكتب السياسية</label>

                            <ul>
                                <li><a href="#">العلوم السياسية </a></li>
                                <li><a href="#">السياسة الدولية</a></li>
                                <li><a href="#">الدبلوماسية</a></li>
                                <li><a href="#">السياسية العربية المعاصرة</a></li>
                                <li><a href="#">السياسة العربية</a></li>
                                <li><a href="#">المنظمات والالحزاب</a></li>
                                <li><a href="#">الدين والسياسة</a></li>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <div class="sub-item">
                            <input type="checkbox" id="B-E" />
                            <i class="arrow fa fa-caret-down"></i><label for="B-E">العلوم والطبيعة</label>

                            <ul>
                                <li><a href="#">الطبيعة </a></li>
                                <li><a href="#">الرياضيات</a></li>
                                <li><a href="#">الهندسة</a></li>
                                <li><a href="#">الفيزياء</a></li>
                                <li><a href="#">الكيمياء</a></li>
                                <li><a href="#">علم النبات</a></li>
                                <li><a href="#">الصيدلة</a></li>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <div class="sub-item">
                            <input type="checkbox" id="B-F" />
                            <i class="arrow fa fa-caret-down"></i><label for="B-F">الرياضة والتسلية</label>

                            <ul>
                                <li><a href="#">العاب الكرة </a></li>
                                <li><a href="#">الرياضة المائية</a></li>
                                <li><a href="#">اللياقة البدنية</a></li>
                                <li><a href="#">الأبراج</a></li>
                                <li><a href="#">الرياضة الذهنية</a></li>
                                <li><a href="#">ألغاز</a></li>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <div class="sub-item">
                            <input type="checkbox" id="B-G" />
                            <i class="arrow fa fa-caret-down"></i><label for="B-G">الاقتصاد والأعمال</label>

                            <ul>
                                <li><a href="#">الاقتصاد </a></li>
                                <li><a href="#">ادارة الأعمال</a></li>
                                <li><a href="#">التأمين والضمان</a></li>
                                <li><a href="#">المحاسبة</a></li>
                                <li><a href="#">التسويق</a></li>
                                <li><a href="#">الاستثمار</a></li>
                            </ul>
                        </div>
                    </li>


                    <li>
                        <div class="sub-item">
                            <input type="checkbox" id="B-H" />
                            <i class="arrow fa fa-caret-down"></i><label for="B-H">الكتب الاسلامية</label>

                            <ul>
                                <li><a href="#">القران وعلومه </a></li>
                                <li><a href="#">الحديث وعلومه</a></li>
                                <li><a href="#">السيرة النبوية</a></li>
                                <li><a href="#">الفقه واصوله</a></li>
                                <li><a href="#">العقيدة والعبادات</a></li>
                                <li><a href="#">الحركات والمذاهب</a></li>
                                <li><a href="#">التشريع</a></li>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <div class="sub-item">
                            <input type="checkbox" id="B-I" />
                            <i class="arrow fa fa-caret-down"></i><label for="B-I">الصحافة الاعلام</label>

                            <ul>
                                <li><a href="#">الصحافة </a></li>
                                <li><a href="#">الاعلام</a></li>
                                <li><a href="#">الدوريات</a></li>
                                <li><a href="#">الندوات والمؤتمرات</a></li>

                            </ul>
                        </div>
                    </li>

                    <li>
                        <div class="sub-item">
                            <input type="checkbox" id="B-J" />
                            <i class="arrow fa fa-caret-down"></i><label for="B-J">الفنون</label>

                            <ul>
                                <li><a href="#">تاريخ الفن </a></li>
                                <li><a href="#">التصوير</a></li>
                                <li><a href="#">الفنون الاسلامية</a></li>
                                <li><a href="#">النحت</a></li>
                                <li><a href="#">الزخرفة والخط العربي</a></li>
                                <li><a href="#">المسرح</a></li>
                                <li><a href="#">النقد الفني</a></li>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <div class="sub-item">
                            <input type="checkbox" id="B-K" />
                            <i class="arrow fa fa-caret-down"></i><label for="B-K">الكومبيوتر والانترنت</label>

                            <ul>
                                <li><a href="#">الالنترنت </a></li>
                                <li><a href="#">أنظمة التشغيل</a></li>
                                <li><a href="#">لغات البرمجة</a></li>
                                <li><a href="#">شبكات الحاسوب</a></li>
                                <li><a href="#">قواعد البيانات</a></li>
                                <li><a href="#">صيانة الحاسوب</a></li>
                                <li><a href="#">أمن الحاسوب</a></li>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <div class="sub-item">
                            <input type="checkbox" id="B-L" />
                            <i class="arrow fa fa-caret-down"></i><label for="B-L">الفلسفة</label>

                            <ul>
                                <li><a href="#">المذاهب الفلسفية </a></li>
                                <li><a href="#">المدارس الفلسفية</a></li>
                                <li><a href="#">الفكر الفلسفي</a></li>
                                <li><a href="#">الدراسات الفلسفية</a></li>
                                <li><a href="#">الفلسفة المعاصرة</a></li>
                                <li><a href="#">علم المنطق</a></li>
                                <li><a href="#">فلسفة العلوم</a></li>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <div class="sub-item">
                            <input type="checkbox" id="B-M" />
                            <i class="arrow fa fa-caret-down"></i><label for="B-M">السير والمذكرات</label>

                            <ul>
                                <li><a href="#">الأنبياء </a></li>
                                <li><a href="#">السياسيون</a></li>
                                <li><a href="#">العلماء</a></li>
                                <li><a href="#">الشعراء والادباء</a></li>
                                <li><a href="#">رجال الدين</a></li>
                                <li><a href="#">النساء</a></li>
                                <li><a href="#">المستشرقون</a></li>
                            </ul>
                        </div>
                    </li>


                </ul>
            </div>

        </div>
    </div>
</div>