@font-face {
    font-family: 'Tajawal-Regular';
    src: url(fonts/Tajawal-Regular.ttf);
}

*{
	font-family: 'Tajawal-Regular', sans-serif;
}
	.clear{
		  clear: both;
	  }
      .mySwiper_flask {
        width: 76%;
        height: 400px;
		margin: 0;
		margin-top: 50px;
		float: left;
      }

	  .mySwiper_home {
        width: 100%;
        height: 400px;
		float: left;
      }




      .slider_flask {
		text-align: center;
		font-size: 18px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		position: relative;
		background-position: center;
		height: 100%;
		object-fit: cover;
		align-items: center;
		width: 200px;
		
      }

     

	  .box{
		width:200px;
		box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
		border-radius: 10px;
		overflow: hidden;
		background-color: #fff;
		cursor: pointer;
		
	}
	.slide-img{
		height:225px;
		position:relative;
	}
	.slide-img img{
		width:100%;
		height: 100%;
		background-size: cover;
		box-sizing: border-box;
	}
	.detail-box{
		width: 100%;
	    display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px 20px;
		box-sizing: border-box;
		font-family: calibri;
	}
	.type{
		display: flex;
		flex-direction: column;
	}
	.type a{
		color:#222222;
		margin: 5px 0px;
		font-weight: bold;
		
	}
	.type span{
		color:#8B3B00;
		background-color: #E5E5E5;
		padding: 1px 10px 4px 10px;
		border-radius: 10px;
		font-weight: bold;
	}
	.priceValue{
		color: #333333;
	    font-weight: bold;
	}
	.overlay_flask{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		width:100%;
		height: 100%;
		background-color: rgba(139,59,0,0.6);
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.buy-btn{
		width:160px;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #FFFFFF;
		color:#252525;
		font-weight: 700;
		letter-spacing: 1px;
		font-family: calibri;
		border-radius: 20px;
		box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
	}
	.buy-btn:hover{
		color:#FFFFFF;
		background-color: #222222;
		transition: all ease 0.3s;
	}
	.overlay_flask{
		visibility: hidden;
	}
	.slide-img:hover .overlay_flask{
		visibility: visible;
		animation:fade 0.5s;
	}
	 
	@keyframes fade{
		0%{
			opacity: 0;
		}
		100%{
			opacity: 1;
		}
	}
	.slider{
		width:100%;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0;

	}


	.scroll-gb{
		width: 100%;
		margin-bottom: 100px;
	}

	.scroll-gb_2{
		width: 100%;
		margin-top: 50px;
		margin-bottom: 100px;
	}

	.scroll-div{
		margin: auto;
		width:100%;
		height: 100%;
		display: grid;
		grid-template-columns: repeat(5, 1fr);
	}

	.scroll-div ul{
		margin: 25px 20px;
		
	}

	.box_all{
		width:200px;
		box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
		border-radius: 10px;
		overflow: hidden;
		background-color: #fff;
		cursor: pointer;
		
	}
	 

	.sidenav button a{
		display: inline;
	}

	.view_content{
		display: flex;
		margin: 0;
		width: 100%;
	}

	.view_content .image_des img{
		width: 350px;
		border: 10px solid #222222;
		margin-top: 50px;
	}

	.view_content .content_des{
		margin-right: 25px;
		width: 35%;
		margin-top: 50px;
		line-height: 2;
		font-size: 20px;
	}

	.buy{
		width:175px;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #222222;
		color:#E5E5E5;
		font-weight: 600;
		letter-spacing: 1px;
		border-radius: 10px;
		box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
		margin-top: 25px;
	}

	.content_price{
		margin-top: 10px;
	}

	.content_details{
		margin: 75px 50px;
		width: 25%;
	}


	.img_area_2 .img_free{
		background-image: url(../static/image/sharon-mccutcheon-eMP4sYPJ9x0-unsplash.jpg);
		position: relative;
		background-position: center;
		background-size: cover;
		height: 30vh;
		object-fit: cover;
		margin-bottom: 50px;
		
	}

	.img_area_5 .img_free{
		background-image: url(../static/image/descount.jpg);
		position: relative;
		background-position: center;
		background-size: cover;
		height: 30vh;
		object-fit: cover;
		margin-bottom: 50px;
		
	}

	
	.img_area_6 .img_free{
		background-image: url(../static/image/school.jpg);
		position: relative;
		background-position: center;
		background-size: cover;
		height: 30vh;
		object-fit: cover;
		margin-bottom: 50px;
		
	}

	
	.img_area_7 .img_free{
		background-image: url(../static/image/busness.jpg);
		position: relative;
		background-position: center;
		background-size: cover;
		height: 30vh;
		object-fit: cover;
		margin-bottom: 50px;
		
	}
	.overlay_5{
		position: absolute;
		background-color: rgb(0, 0, 0,0.5);
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		outline: 2px solid #E5E5E5;
		outline-offset: -4px;
	}

  
	.write_free{
		position: absolute;
		font-size: 30px;
		width: 35%;
		text-align: right;
		color:#E5E5E5;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		right: 0;
		border-left: 2px solid #E5E5E5;
	}

	.write_free_book{
		position: absolute;
		font-size: 40px;
		width: 32%;
		text-align: left;
		color:#E5E5E5;
		top: 50%;
		right: 25%;
		transform: translate(-50%,-50%);
	}
	.write_free_book span{
		color: #8B3B00;
	}

	.space{
		display: grid;
		grid-template-columns: repeat(7, 1fr);
	}
	.box_free{
		margin: 50px 10px;
		width:200px;
		box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
		border-radius: 10px;
		overflow: hidden;
		background-color: #fff;
		cursor: pointer;
	}

	.img_area .img_free_1{
		background-image: url(../static/image/eeleased.jpg);
		position: relative;
		background-position: center;
		background-size: cover;
		border-radius: 10px;
		height: 30vh;
		object-fit: cover;
		cursor: pointer;
	}

	.img_area_3 .img_free_2{
		background-image: url(../static/image/layout.jpg);
		position: relative;
		background-position: center;
		background-size: cover;
		border-radius: 10px;
		height: 30vh;
		object-fit: cover;
		cursor: pointer;
	}


	
.img_area_4 .img_free_3{
    background-image: url(../static/image/child.jpg);
    position: relative;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    height: 30vh;
    object-fit: cover;
    cursor: pointer;
	background-position-y: -700px;
}

.write_free_kids{
	position: absolute;
	font-size: 50px;
	width: 25%;
	text-align: right;
	color:#E5E5E5;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	right: 300px;
	border-left: 2px solid #E5E5E5;
}

:root{
	--swiper-navigation-size: 30px;
}

.swiper-pagination-bullet {
    background-color: #E5E5E5;
	width: 15px;
	height: 2px;
	border-radius: 0;
}

.swiper-button-prev,
.swiper-button-next{
	color: #E5E5E5;
	background-color: none;

}

.sidebar {
	height: 100%; /* 100% Full-height */
	width: 0; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 1; /* Stay on top */
	top: 0;
	right: 0;
	background-color: #111; /* Black*/
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 60px; /* Place content 60px from the top */
	transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar a {
	padding: 8px 8px 8px 8px;
	text-decoration: none;
	font-size: 16px;
	color: #818181;
	display: block;
	transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
	color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
	font-size: 16px;
	cursor: pointer;
	background-color: #8B3B00;
	color: white;
	padding: 10px 15px;
	border: none;
  }
  
  .openbtn:hover {
	background-color: #444;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
	transition: margin-left .5s; /* If you want a transition effect */
	padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
 .notfound{
	 margin-bottom: 302px;
 }
 .checkout_content{
	 margin-top: 50px;
	 margin-bottom: 200px;
 }
 .check_ul li{
	margin: auto;
	width: 70%;
	height: 30%;
	display: flex;
	justify-content: space-between;
	align-items: center;
   }
   .image-box{
	width: 15%;
	text-align: center;
   }
   .about{
	height: 100%;
   }
   .title{
	padding-top: 5px;
	line-height: 10px;
	font-size: 32px;
	font-weight: 800;
	color: #202020;
   }
   .subtitle{
	line-height: 10px;
	font-size: 18px;
	font-weight: 600;
	color: #909090;
   }

   .check_ul .counter{
	width: 10%;
	display: flex;
	justify-content: space-between;
	align-items: center;
   }
   .check_ul button{
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 15px;
	font-weight: 900;
	color: #202020;
	cursor: pointer;
	color: #222222;
   }


   .check_ul li .prices{
	height: 100%;
	text-align: right;
   }
   .check_ul li h6{
	padding-top: 20px;
	font-size: 20px;
	font-weight: 800;
	color: #202020;
   }
  
   .check_ul li .remove{
	padding-top: 5px;
	font-size: 14px;
	font-weight: 600;
	color: #E44C4C;
	cursor: pointer;
   }

   hr{
	width: 60%;
	margin-right: 1.5%;
	margin-top: 60px;
   }
   .checkout{
	float: right;
	margin-right: 5%;
	width: 28%;
	background-color: #222222;
	background: #222222;
   }

   .total_price #sum-prices{
	   background: none;
	   display: flex;
	   justify-content: space-between;
	   float: left;
	   margin-left: 200px;
	   font-size: 25px;
   }

 
 
 
   






   .row {
	display: -ms-flexbox; /* IE10 */
	display: flex;
	-ms-flex-wrap: wrap; /* IE10 */
	flex-wrap: wrap;
	margin: 0 -16px;
  }
  
  .col-25 {
	-ms-flex: 25%; /* IE10 */
	flex: 25%;
  }
  
  .col-50 {
	-ms-flex: 50%; /* IE10 */
	flex: 50%;
  }
  
  .col-75 {
	-ms-flex: 75%; /* IE10 */
	flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
	padding: 0 16px;
  }
  
  
  
  input[type=text] {
	width: 100%;
	margin-bottom: 20px;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 3px;
  }
  
  label {
	margin-bottom: 10px;
	display: block;
  }
  
  .icon-container {
	margin-bottom: 20px;
	padding: 7px 0;
	font-size: 24px;
  }
  
  .btn {
	background-color: #222222;
	color: white;
	padding: 12px;
	margin: 10px 0;
	border: none;
	width: 100%;
	border-radius: 3px;
	cursor: pointer;
	font-size: 17px;
  }
  
  .btn:hover {
	background-color: #8B3B00;
  }
  
  span.price {
	float: right;
	color: grey;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
  @media (max-width: 800px) {
	.row {
	  flex-direction: column-reverse;
	}
	.col-25 {
	  margin-bottom: 20px;
	}
  }

  .container_3 {
	background-color: #f2f2f2;
	padding: 5px 20px 15px 20px;
	border: 1px solid lightgrey;
	border-radius: 3px;
  }



  #myBtn {
	display: none; /* Hidden by default */
	position: fixed; /* Fixed/sticky position */
	bottom: 20px; /* Place the button at the bottom of the page */
	right: 30px; /* Place the button 30px from the right */
	z-index: 99; /* Make sure it does not overlap */
	border: none; /* Remove borders */
	outline: none; /* Remove outline */
	background-color: #111; /* Set a background color */
	color: white; /* Text color */
	cursor: pointer; /* Add a mouse pointer on hover */
	padding: 15px; /* Some padding */
	border-radius: 10px; /* Rounded corners */
	font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
	background-color: #555; /* Add a dark-grey background on hover */
  }