{% extends "main.html" %}
{% block content %}
<div class="container cards">
    {% include "sidebar.html" %}
    <div class="contnet-left">
        <!-- <div class="cards">
            <div class="card">
                <img src="../static/books/shopping_books/الادب والخيال/الروايات/1942.jpg" alt="1942">
                <h3>1942</h3>
                <p class="price">10,000</p>
                <p><button>اضافة الى العربة</button></p>
            </div>

            <div class="card">
                <img src="../static/books/shopping_books/الادب والخيال/الروايات/1984.jpg" alt="1984">
                <h3>1984</h3>
                <p class="price">10,000</p>
                <p><button>اضافة الى العربة</button></p>
            </div>

            <div class="card">
                <img src="../static/books/shopping_books/الادب والخيال/الروايات/2 ضباط.jpg" alt="2 ضباط">
                <h3>2 ضباط</h3>
                <p class="price">10,000</p>
                <p><button>اضافة الى العربة</button></p>
            </div>

            <div class="card">
                <img src="../static/books/shopping_books/الادب والخيال/الروايات/2012 النهية؟.jpg" alt="2012 النهية؟">
                <h3> النهية؟2012</h3>
                <p class="price">10,000</p>
                <p><button>اضافة الى العربة</button></p>
            </div>

            <div class="card">
                <img src="../static/books/shopping_books/original_arabics/مذهل.jpg" alt="مذهل">
                <h3>مذهل</h3>
                <p class="price">10,000</p>
                <p><button>اضافة الى العربة</button></p>
            </div>
        </div>

        <div class="cards">
            <div class="card">
                <img src="../static/books/shopping_books/original_arabics/اسرار ويكيليكس.jpg" alt="اسرار ويكيليكس">
                <h3>اسرار ويكيليكس</h3>
                <p class="price">10,000</p>
                <p><button>اضافة الى العربة</button></p>
            </div>

            <div class="card">
                <img src="../static/books/shopping_books/original_arabics/اجعل كل يوم رائعتك.jpg" alt="اجعل كل يوم رائعتك">
                <h3>اجعل كل يوم رائعتك</h3>
                <p class="price">10,000</p>
                <p><button>اضافة الى العربة</button></p>
            </div>

            <div class="card">
                <img src="../static/books/shopping_books/original_arabics/المهاجرون الروس قادمون.jpg" alt="المهاجرون الروس قادمون">
                <h3>المهاجرون الروس </h3>
                <p class="price">10,000</p>
                <p><button>اضافة الى العربة</button></p>
            </div>

            <div class="card">
                <img src="../static/books/shopping_books/original_arabics/اميرات منسيات.jpg" alt="اميرات منسيات">
                <h3>اميرات منسيات</h3>
                <p class="price">10,000</p>
                <p><button>اضافة الى العربة</button></p>
            </div>

            <div class="card">
                <img src="../static/books/shopping_books/original_arabics/انت تستطيع.jpg" alt="انت تستطيع">
                <h3>انت تستطيع</h3>
                <p class="price">10,000</p>
                <p><button>اضافة الى العربة</button></p>
            </div>
        </div>

        <div class="cards">
            <div class="card">
                <img src="../static/books/shopping_books/original_arabics/انثى افتراضية.jpg" alt="انثى افتراضية">
                <h3>انثى افتراضية</h3>
                <p class="price">10,000</p>
                <p><button>اضافة الى العربة</button></p>
            </div>

            <div class="card">
                <img src="../static/books/shopping_books/original_arabics/حرب العصابات في الصحراء.jpg" alt="حرب العصابات في الصحراء">
                <h3>حرب العصابات </h3>
                <p class="price">10,000</p>
                <p><button>اضافة الى العربة</button></p>
            </div>

            <div class="card">
                <img src="../static/books/shopping_books/original_arabics/خرز الوقت.jpg" alt="خرز الوقت">
                <h3>خرز الوقت</h3>
                <p class="price">10,000</p>
                <p><button>اضافة الى العربة</button></p>
            </div>

            <div class="card">
                <img src="../static/books/shopping_books/original_arabics/في عالم اخر.jpg" alt="في عالم اخر">
                <h3>في عالم اخر</h3>
                <p class="price">10,000</p>
                <p><button>اضافة الى العربة</button></p>
            </div>

            <div class="card">
                <img src="../static/books/shopping_books/original_arabics/كراكيب الحياة.jpg" alt="كراكيب الحياة">
                <h3>كراكيب الحياة</h3>
                <p class="price">10,000</p>
                <p><button>اضافة الى العربة</button></p>
            </div>
        </div>

        <div class="cards">
            <div class="card">
                <img src="../static/books/shopping_books/original_arabics/ماذا ترسم.jpg" alt="ماذا ترسم">
                <h3>ماذا ترسم</h3>
                <p class="price">10,000</p>
                <p><button>اضافة الى العربة</button></p>
            </div>

            <div class="card">
                <img src="../static/books/shopping_books/original_arabics/ماذا حدث.jpg" alt="ماذا حدث">
                <h3>ماذا حدث</h3>
                <p class="price">10,000</p>
                <p><button>اضافة الى العربة</button></p>
            </div>

            <div class="card">
                <img src="../static/books/shopping_books/الادب والخيال/الروايات/101 سر اريوس.jpg" alt="101 سر اريوس">
                <h3>101 سر اريوس</h3>
                <p class="price">10,000</p>
                <p><button>اضافة الى العربة</button></p>
            </div>

            <div class="card">
                <img src="../static/books/shopping_books/الادب والخيال/الروايات/104 القاهرة.jpg" alt="104 القاهرة">
                <h3>104 القاهرة</h3>
                <p class="price">10,000</p>
                <p><button>اضافة الى العربة</button></p>
            </div>

            <div class="card">
                <img src="../static/books/shopping_books/الادب والخيال/الروايات/11.jpg" alt="11">
                <h3>11</h3>
                <p class="price">10,000</p>
                <p><button>اضافة الى العربة</button></p>
            </div>
        </div>

        <div class="cards">
            <div class="card">
                <img src="../static/books/shopping_books/الادب والخيال/الروايات/1111.jpg" alt="11:11">
                <h3>11:11</h3>
                <p class="price">10,000</p>
                <p><button>اضافة الى العربة</button></p>
            </div>

            <div class="card">
                <img src="../static/books/shopping_books/الادب والخيال/الروايات/12 ليلا.jpg" alt="12 ليلا">
                <h3>12 ليلا</h3>
                <p class="price">10,000</p>
                <p><button>اضافة الى العربة</button></p>
            </div>

            <div class="card">
                <img src="../static/books/shopping_books/الادب والخيال/الروايات/120 جنايات.jpg" alt="120 جنايات">
                <h3>120 جنايات</h3>
                <p class="price">10,000</p>
                <p><button>اضافة الى العربة</button></p>
            </div>

            <div class="card">
                <img src="../static/books/shopping_books/الادب والخيال/الروايات/1234.jpg" alt="1234">
                <h3>1234</h3>
                <p class="price">10,000</p>
                <p><button>اضافة الى العربة</button></p>
            </div>

            <div class="card">
                <img src="../static/books/shopping_books/الادب والخيال/الروايات/17 رمضان.jpg" alt="17 رمضان">
                <h3>17 رمضان</h3>
                <p class="price">10,000</p>
                <p><button>اضافة الى العربة</button></p>
            </div>
        </div>

    </div> -->
<!-- 
    <div class="pagination">
        <a href="#">&laquo;</a>
        <a href="#">1</a>
        <a class="active" href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
        <a href="#">&raquo;</a>
      </div> -->
   
</div>

{% endblock content %}