<footer>

    <div class="footer_bacg">
        <div class="container">
            <div class="footer_child">

                <div class="grid_2">
                    <div class="write_about">
                        <p>BOOK <span class="name">S</span>TATION</p>
                        <p>
                            <span class="dec">
                                اكبر متجر عربي في العراق، يحتوي على العديد من الكتب <br>العربية والانجليزية
                                بمختلف
                                الاقسام، كتابك لِبابك اينما كنت.
                            </span>
                        </p>
                        <button class="buttom">اطلب كتاب</button>
                    </div>

                    <div class="about">
                        <ul>
                            <li><a href="#">اتصل بنا</a></li>
                            <li><a href="#">طلباتي</a></li>
                            <li><a href="#">لديك استفسار؟ اتصل على07808844404</a></li>
                            <li><a href="#">تواصل معنا عبر المواقع:</a>
                                <i class="net fa fa-facebook-square fa-lg"></i>
                                <i class="net fa fa-instagram fa-lg"></i>

                            </li>
                            <li><a href="#">عن BOOK STATION</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>