{% extends "main.html" %}
{% block content %}

<!-- START SLIDER -->
<div class="container">
    <div class="swiper mySwiper padd">
        <div class="swiper-wrapper">
            <div class="swiper-slide b" style="background-image: url(../static/image/descount.jpg);">
                <div class="container ">
                    <div class="overlay">
                        <div class="des_write">
                            <h1>تخفيضات تصل الى %50</h1>
                            <ul>
                                <li class="shop"><a href="{{ url_for('discount', type='novels') }}">تسوق الان</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide b" style="background-image: url(../static/image/school.jpg);">
                <div class="container">
                    <div class="overlay">
                        <div class="sch_write">
                            <h1>قرطاسيات وادوات مدرسية</h1>
                            <ul>
                                <li class="shop_1"><a href="{{ url_for('school', type='novels') }}"> تسوق الان</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide b" style="background-image: url(../static/image/busness.jpg);">
                <div class="container">
                    <div class="overlay">
                        <div class="sch_write">
                            <h1> كتب لتطوير العمل</h1>
                            <ul>
                                <li class="shop_2"><a href="{{ url_for('business', type='novels') }}"> تسوق الان</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>

<div class="container ">
    <div class="sliders_parent silder_marg ">
        <div class="sliders_child">
            <h1 class="title ">الكتب الاكثر مبيعاً</h1>
        </div>
    </div>
    <div class="swiper mySwiper_home">

        <div class="swiper-wrapper">
            {% for book in books %}
            <div class="swiper-slide slider_flask">

                <section class="slider">
                    <ul>
                        <!--1------------------------------------>

                        <li class="item-a">
                            <!--box-slider--------------->

                            <div class="box">

                                <!--img-box---------->
                                <div class="slide-img">
                                    <img alt="1" src="{{ book['image_file'] }}">

                                    <!--overlayer---------->
                                    <div class="overlay_flask">
                                        <!--buy-btn------>
                                        <div class="buy-btn addCart" data-product-id="{{ book['id'] }}">اضف الى العربة
                                        </div>
                                    </div>
                                </div>

                                <!--detail-box--------->
                                <div class="detail-box">
                                    <!--type-------->
                                    <div class="type">
                                        <a href="{{ url_for('vew_product', id=book.id) }}" class="productName">{{
                                            book['name_of_book'] }}</a>
                                        <a href="{{ url_for('vew_product', id=book.id) }}"><span>عرض</span></a>
                                    </div>
                                    <!--price-------->
                                    <a href="{{ url_for('vew_product', id=book.id) }}" class="priceValue">{{
                                        book['price'] }}</a>

                                </div>

                            </div>

                        </li>
                    </ul>

                </section>

            </div>
            {% endfor %}
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>

    </div>

</div>
<div class="container ">
    <div class="swiper mySwiper_home padd respo">

        <div class="swiper-wrapper">
            {% for book in books %}
            <div class="swiper-slide slider_flask">

                <section class="slider">
                    <ul>
                        <!--1------------------------------------>

                        <li class="item-a">
                            <!--box-slider--------------->

                            <div class="box">

                                <!--img-box---------->
                                <div class="slide-img">
                                    <img alt="1" src="{{ book['image_file'] }}">

                                    <!--overlayer---------->
                                    <div class="overlay_flask">
                                        <!--buy-btn------>
                                        <div class="buy-btn addCart" data-product-id="{{ book['id'] }}">اضف الى العربة
                                        </div>
                                    </div>
                                </div>

                                <!--detail-box--------->
                                <div class="detail-box">
                                    <!--type-------->
                                    <div class="type">
                                        <a href="{{ url_for('vew_product', id=book.id) }}" class="productName">{{
                                            book['name_of_book'] }}</a>
                                        <a href="{{ url_for('vew_product', id=book.id) }}"><span>عرض</span></a>
                                    </div>
                                    <!--price-------->
                                    <a href="{{ url_for('vew_product', id=book.id) }}" class="priceValue">{{
                                        book['price'] }}</a>

                                </div>

                            </div>

                        </li>
                    </ul>

                </section>

            </div>
            {% endfor %}
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>

    </div>

</div>




<div class="layout padd">
    <div class="overlay_2">
        <div class="container">
            <div class="img_layout">
                <div class="write_layout">
                    <P>
                        BOOK <span>S</span>TATION is Iraqi best value chain of Book and Stationery shops
                    </P>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="container padd">
    <div class="grid">
        <div class="img_area">
            <div class="img_offer">
                <a href="{{ url_for('last_released', type='novels') }}">
                    <div class="overlay_3">

                        <div class="write_offer">
                            <p>اخر اصدارات الكتب وصلت حديثاً</p>
                        </div>

                    </div>
                </a>
            </div>
        </div>

        <div class="img_area_2">
            <div class="img_offer_2">
                <a href="{{ url_for('get_free', type='novels') }}">
                    <div class="overlay_3">

                        <div class="write_offer">

                            <p>احصل على كتاب مجاناً عند شراء كتابين من نفس الصفحة</p>

                        </div>

                    </div>
                </a>
            </div>
        </div>


        <div class="img_area_3">
            <div class="img_offer_3">
                <a href="{{ url_for('free_delivery', type='novels') }}">
                    <div class="overlay_3">
                        <div class="write_offer">
                            <p>توصيل مجاني لمجموعة من الكتب العربية والانجليزية</p>
                        </div>
                    </div>
            </div>
            </a>
        </div>

        <div class="img_area_4">
            <div class="img_offer_4">
                <a href="{{ url_for('kids', type='novels') }}">
                    <div class="overlay_3">
                        <div class="write_offer">
                            <p>كتب للاطفال</p>
                        </div>
                    </div>
            </div>
            </a>
        </div>
    </div>
</div>
{% endblock content %}